.navmenu {
	margin-top: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: black;

	.container {
		img {
			padding: 5px;
			width: fit-content;
			height: 30px;
		}
		button {
			display: none;
			background-color: transparent;
			color: aliceblue;
			border: none;
			font-size: 20px;
		}
	}

	ul {
		margin: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		li {
			display: inline-block;
			padding: 10px;
			a {
				color: white;
				text-decoration: none;
				white-space: nowrap;
			}
		}
	}
}

@media (max-width: 500px) {
	.navmenu {
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.container {
			display: flex;
			justify-content: space-between;
			align-content: space-between;
			width: 100%;
			img {
			}
			button {
				display: inline-block;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			li {
				a {
				}
			}
		}
	}
}
